@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: white;
    font-family: inter;
    letter-spacing: 0;
    line-height: 1.2;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.react-calendar .highlight {
  outline: 1px solid black;
  background: #006edc;
  color: white;
}
