@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  @apply text-base md:text-lg;
}

h1 {
  @apply text-4xl lg:text-5xl font-bold leading-normal tracking-normal;
}

h2 {
  @apply text-3xl lg:text-4xl font-semibold leading-normal tracking-normal;
}
h3 {
  @apply text-2xl lg:text-3xl font-normal  leading-normal tracking-normal;
}
h4 {
  @apply text-xl lg:text-2xl font-normal leading-normal tracking-normal;
}

.btn {
  @apply w-fit flex items-center shadow-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer px-6 py-2 rounded-lg;
  transition: all ease 0.3s;
}

.btn-white {
  @apply text-black bg-white hover:bg-accent-hover hover:text-white;
}

.btn-accent {
  @apply text-white bg-accent hover:bg-accent-hover;
}

.nav-link {
  @apply font-normal leading-normal tracking-normal   hover:text-accent-hover cursor-pointer w-fit;
}

.mobile-toggle {
  @apply inline-flex items-center justify-center rounded-lg p-2 text-accent hover:text-accent-hover focus:outline-none focus:ring-2 focus:ring-inset focus:ring-accent;
}

.transition-animate {
  transition: all ease 0.3s;
}

.nav-animated {
  text-decoration: none;
  background: linear-gradient(#252028, #252028) bottom / 0 0.1em no-repeat;
  transition: 0.2s background-size;
}

.nav-animated:hover {
  background-size: 100% 0.1em;
}

.accent-link {
  @apply text-accent-dark w-fit;
}

.content-section ul {
  @apply space-y-1;
}

.content-section ul li {
  @apply relative ml-2;
}

.content-section ul li::before {
  @apply inline-block w-4 text-lg text-accent;
  content: "\2022";
}
