.markdown h1,
.markdown h2,
.markdown h3,
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply mb-4 list-disc;
}

.markdown img {
  @apply mx-auto;
}

.markdown a {
  @apply text-accent-dark;
  text-decoration: none;
  background: linear-gradient(#252028, #252028) bottom / 0 0.1em no-repeat;
  transition: 0.2s background-size;
}

.markdown a:hover {
  background-size: 100% 0.1em;
}
